.rcw-conversation-container > .rcw-header {
  background-color: rgb(30, 136, 229);
}

.rcw-launcher {
  background-color: rgb(30, 136, 229);
  box-shadow: 0 2px 10px 1px rgba(0, 0, 0, 0.6);
}

.rcw-conversation-container .rcw-title {
  padding: 7px 0;
}

.rcw-conversation-container .rcw-header {
  padding: 15px 0px 20px 0px;
}

.rcw-client .rcw-message-text {
  background-color: rgb(112, 215, 255);
}

.rcw-widget-container {
  max-width: max-content;
}

.rcw-conversation-container {
  width: 370px;
  box-shadow: 0 2px 10px 1px rgba(0, 0, 0, 0.6);
}
